body {
  background-color: pink;
  color: black;
  background-size: 800% 800%;
}

.header {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Page-name {
  font-size: 3rem;
  margin-bottom: 0;
}

.Page-description {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
}

@media (max-width: 600px) {
  .Page-name {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .Page-description{
    font-size: 1.6rem;
  }
}

.dashboard {
  text-align: center;
  background-image: url('../public/BulletinBackground.jpg');
  border: rgb(184, 132, 48) 2rem solid;
  color: white;
  border-radius: 2rem;
  margin: 4rem;
  padding: 0.5rem;
  max-width: 100vw;
}

.dashboard-welcome {
  margin-bottom: 0;
  font-size: 2rem;
}

.dashboard-description {
  margin-top: 0;
  font-size: 1.2rem;
}

.dashboard-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 2rem;
  margin: 1.5rem;
  padding: 2rem;
}

.dashboard-grid > * { /* child elems of dashboard grid */
  background-color: sienna;
  border-radius: 1rem;
  padding: 1rem;
}

.dashboard-grid > * > h3 { /* title elems of dashboard grid elems */
  margin-bottom: 0;
}

.dashboard-grid > * > p{ /* description elems */
  margin-top: 0;
}

@media (max-width: 600px) { /* makes elems fit on mobile */
  .dashboard {
    margin: 0rem;
    padding: 0.5rem;
  }

  .dashboard-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    margin: 0.5rem;
  }
}

.income li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem; /* padding vertical + horizontal */
  border-bottom: 1px solid #eee;
}
.income li:last-child {
  border-bottom: none; /* removes border from last item */
}
.income li button {
  background-color: red;
  color: white;
  border: white 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.expenses li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem; /* padding vertical + horizontal */
  border-bottom: 1px solid #eee;
  text-align: left;
}
.expenses li:last-child {
  border-bottom: none; /* removes border from last item */
}
.expenses li button {
  background-color: red;
  color: white;
  border: white 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#incomeFrequency{
  width: 4rem;
}

#incomeUnits {
  width: 5rem
}

#expenseFrequency{
  width: 4rem;
}

#expenseUnits {
  width: 5rem
}

.netIncome-advice {
  max-width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.netIncome-List{
  text-align: left;
}

.footer {
  padding: 0%;
  margin: 0%;
}