body {
  background-color: pink;
  color: black;
  background-size: 800% 800%;
}

.header {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Page-name {
  font-size: 3rem;
  margin-bottom: 0;
}

.Page-description {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
}

.dashboard {
  text-align: center;
  background-image: url('../public/BulletinBackground.jpg');
  border: rgb(184, 132, 48) 2rem solid;
  color: white;
  border-radius: 2rem;
  margin: 4rem;
  padding: 0.5rem;
  max-width: 100vw;
}

.dashboard-welcome {
  margin-bottom: 0;
  font-size: 2rem;
}

.dashboard-description {
  margin-top: 0;
  font-size: 1.2rem;
}

.dashboard-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 2rem;
  margin: 1.5rem;
  padding: 2rem;
}

.dashboard-grid > * { /* child elems of dashboard grid */
  background-color: sienna;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 600px) { /* makes elems fit on mobile */
  .dashboard {
    margin: 0rem;
    padding: 0.5rem;
  }

  .dashboard-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    margin: 0.5rem;
  }
}

.footer {
  padding: 0%;
  margin: 0%;
}